<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package 
	  Id="TODO_Manufacturer.WiXTutorialPackage" 
	  Name="WiXTutorialPackage" 
	  Manufacturer="TODO Manufacturer" 
	  Version="1.0.0.0">
	  <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	  <Feature Id="Main">
         <ComponentGroupRef Id="AppComponents" />
	  </Feature>
  </Package>
</Wix>
