<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <UI Id="CustomUI">
      <UIRef Id="WixUI_Mondo" />
      <UIRef Id="WixUI_ErrorProgressText" />
      
      <!-- Replace default bitmaps with corporate branding -->
      <WixVariable Id="WixUIBannerBmp" Value="Resources\banner.jpg" />
      <WixVariable Id="WixUIDialogBmp" Value="Resources\dialog.jpg" />
      <WixVariable Id="WixUILicenseRtf" Value="Resources\license.rtf" />
      
      <!-- Insert custom dialog into the sequence -->
      <Publish Dialog="LicenseAgreementDlg" Control="Next" Event="NewDialog" Value="ConfigurationSelectionDlg" Condition="LicenseAccepted = &quot;1&quot;" />
      <Publish Dialog="ConfigurationSelectionDlg" Control="Back" Event="NewDialog" Value="LicenseAgreementDlg" />
      <Publish Dialog="ConfigurationSelectionDlg" Control="Next" Event="NewDialog" Value="SetupTypeDlg" />
      <Publish Dialog="SetupTypeDlg" Control="Back" Event="NewDialog" Value="ConfigurationSelectionDlg" />
      
      <!-- Custom progress text for downloading artifacts -->
      <ProgressText Action="DownloadArtifacts">Downloading artifacts from Azure DevOps...</ProgressText>
      <ProgressText Action="UpdateConfigurationFiles">Updating configuration files...</ProgressText>
      <ProgressText Action="UpdateAppSettings">Configuring application settings...</ProgressText>
    </UI>
  </Fragment>
</Wix>