<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Fragment>
    <ComponentGroup Id="ConfigurationComponents" Directory="INSTALLFOLDER">
      <!-- Configuration files that will be updated based on dropdown selection -->
      <Component Id="ConfigFile1" Guid="77777777-7777-7777-7777-777777777777">
        <File Id="config1.json" Name="config1.json" Source="$(var.SourcePath)\config1.json" KeyPath="yes" />
      </Component>
      
      <Component Id="ConfigFile2" Guid="88888888-8888-8888-8888-888888888888">
        <File Id="config2.json" Name="config2.json" Source="$(var.SourcePath)\config2.json" KeyPath="yes" />
      </Component>
      
      <!-- XML modifications to update appsettings.json with plugin path -->
      <Component Id="UpdateAppSettingsComponent" Guid="99999999-9999-9999-9999-999999999999">
        <CreateFolder />
        <util:XmlFile Id="UpdatePluginPath"
                      File="[INSTALLFOLDER]appsettings.json"
                      Action="setValue"
                      ElementPath="/configuration/appSettings/add[@key='PluginPath']/@value"
                      Value="[PLUGINPATH]" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>